.item {
    display: flex;
    margin: auto;
    width: 50%;
    border: .5px solid gray;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}
img {
    width: 200px;
}

.item-body {
    align-items: center;
    display: flex;
    padding: 10px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: auto;
}
.title{
    margin-right: 6rem;
    width: 200px;
}

.btn {
    background-color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 720px) {
    .item {
        width: 90%;
    }
    .item-body {
        display: block;
        justify-content: center;
        text-align: center;
        margin: auto;
    }
    .button{
        margin: auto;
    }
    .title{
        margin: auto;
    }
}

