.item {
    display: flex;
    padding: 10px 40px;
    text-align: center;
    border-bottom: 0.5px solid gray;
}
.item img{
    width: 100px;
    border-radius: 10px;
}
.item h3 {
    margin-top: 40px;
    text-align: justify;
    margin-left: 15rem;
}
.item h4{
    margin-top: 40px;
    text-align: justify;
    margin-left: auto;
}
.item a{
    margin-top: 40px;
    margin-left: auto;
    background-color: darkgrey;
    height: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

