.search {
    text-align: center;
    margin-top: 10px;
}
input {
    width: 15rem;
    height: 1.5rem;
    border-radius: 10px;
    outline: none;
}
button {
    padding: 5px 20px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}
button:hover {
    background-color: #fff;
    color: #000;
}